.compteurGaz {
    border: solid 1px black;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.compteurGaz {
    box-shadow: 0 0 0 1px #555a86 inset;
    transition: ease-in 0.7s;
}

.compteurGaz:hover {
    box-shadow: 0 300px 0 1px #F2B694 inset;
    display: block;
}

.container:hover .blocText {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    width:8rem;
    position: fixed;
    top: 150px;
    right: 150px;
}

.blocText{
    display: none;
    background:#F2B694;
    padding:7px 10px; 
    border-radius:3px; 
    width:350px;
    height: 150px;
    font-size: small;
    position: absolute;
    top: 150px;
    right: 10px;
}