header {
    background-color: #557329;
}

.header {
    min-height: 10vh;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.header-logo {
width: 9vw;
margin: 20px 0px 8px 32px;
}

.header-title {
color: var(--camel);
}
