.home-container {
    width: 90vw;
    margin: 0 auto;
    height: 25vw;
    display: flex;
}

.home-container h2 {
   padding: 3rem;
}



.container-img {
    width: 300px;
    height: 280px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-left: 2rem;
}