.title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 45px 10px 30px 10px;
  }
  
  .infotext {
    font-size: 18px;
    margin: 0px 26px 40px 26px;
    text-align: center;
  }