.title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 1rem;
    color: var(--brown);
  }

  .intro h2{
    color: rgb(55, 54, 54);
  }
  
  .intro{
    text-align: center;
    padding-bottom: 2rem;
  }