.App {
  text-align: center;
}

.App-header {
  background-color: #557329;
  min-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer {
  background-color: #557329;
  min-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-box {
  border: 1px black solid;
  justify-content: center;
  display: flex;
}
