* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {

  --dark-green: #557329;
  --light-green: #A8BF56;
  --camel: #F2B694;
  --brown: #BF7960;
  --black: #0D0D0D

}

.graph-box {
  justify-content: center;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}
